*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.client-container {
  position: relative;
}

.icon-top-center {
  pointer-events: none;
  position: absolute;
  top: -0.5rem;
  left: 50%;
  transform: translate(-50%, 0);
}

.icon-bottom-right {
  position: absolute;
  bottom: -1rem;
  right: -0.5rem;
}

.icon-bottom-right svg {
  background-color: #099268;
  border-radius: 50%;
  padding: 0.25rem;
}

.answer-clients {
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translate(-50%, 0);
}

.circle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.logo {
  cursor: default;
}

.pixel {
  width: 1.25rem;
  height: 1.25rem;
  transition: width 0.3s ease-in-out;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pixel p {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.logo:hover > .pixel {
  width: 3rem;
}

.logo:hover > .pixel p {
  opacity: 1;
}

@media screen and (max-width: 425px) {
  body {
    zoom: 0.85;
  }
}
